In [ ]:
from pyspark.sql.functions import col, expr
from pyspark.sql import SparkSession
from pyspark.sql.types import StringType, IntegerType

spark = SparkSession.builder \
    .appName("Import data") \
    .enableHiveSupport() \
    .getOrCreate()
    
    

# In Cluster
# import findspark
# findspark.init("/opt/spark")

# from pyspark.sql.functions import col, expr
# from pyspark.sql import SparkSession
# from pyspark.sql.types import StringType, IntegerType

# spark = SparkSession.builder \
#     .appName("user1-gg") \
#     .config("spark.executor.memory", "4g") \
#     .config("spark.driver.memory", "4g") \
#     .config("spark.dynamicAllocation.enabled", "true") \
#     .config("spark.dynamicAllocation.minExecutors", "0") \
#     .config("spark.dynamicAllocation.maxExecutors", "6") \
#     .config("spark.shuffle.service.enabled", "true") \
#     .config("spark.reducer.maxReqsInFlight", "4") \
#     .config("spark.shuffle.io.retryWait", "10s") \
#     .config("spark.shuffle.io.maxRetries", "5") \
#     .config("spark.locality.wait", "10s") \
#     .config("spark.memory.fraction", "0.6") \
#     .config("spark.memory.fraction", "0.4") \
#     .config("spark.scheduler.mode", "FAIR") \
#     .enableHiveSupport() \
#     .getOrCreate()

In [ ]:
spark

## Taxi zone read

In [ ]:
df_zone = spark.read.csv("../02.taxi_zones/taxi+_zone_lookup.csv", header=True)
df_zone.show(5)

In [5]:
df_2009 = spark.read.parquet("../2009/yellow_taxi/yellow_tripdata_2009-01.parquet")

for column in df_2009.columns:
    df_2009 = df_2009.withColumnRenamed(column, column.lower())
df_2009.printSchema()
df_2009.show(3)

+-----------+--------------------+---------------------+---------------+-------------+----------+---------+---------+-----------------+----------+---------+------------+--------+---------+-------+-------+---------+---------+
|vendor_name|trip_pickup_datetime|trip_dropoff_datetime|passenger_count|trip_distance| start_lon|start_lat|rate_code|store_and_forward|   end_lon|  end_lat|payment_type|fare_amt|surcharge|mta_tax|tip_amt|tolls_amt|total_amt|
+-----------+--------------------+---------------------+---------------+-------------+----------+---------+---------+-----------------+----------+---------+------------+--------+---------+-------+-------+---------+---------+
|        VTS| 2009-01-04 02:52:00|  2009-01-04 03:02:00|              1|         2.63|-73.991957|40.721567|     null|             null|-73.993803|40.695922|        CASH|     8.9|      0.5|   null|    0.0|      0.0|      9.4|
|        VTS| 2009-01-04 03:31:00|  2009-01-04 03:38:00|              3|         4.55|-73.982102| 40.73629|     null|             null| -73.95585| 40.76803|      Credit|    12.1|      0.5|   null|    2.0|      0.0|     14.6|
|        VTS| 2009-01-03 15:43:00|  2009-01-03 15:57:00|              5|        10.35|-74.002587|40.739748|     null|             null|-73.869983|40.770225|      Credit|    23.7|      0.0|   null|   4.74|      0.0|    28.44|
+-----------+--------------------+---------------------+---------------+-------------+----------+---------+---------+-----------------+----------+---------+------------+--------+---------+-------+-------+---------+---------+
only showing top 3 rows

In [6]:
df_2010 = spark.read.parquet("../2010/yellow_taxi/yellow_tripdata_2010-01.parquet")

for column in df_2010.columns:
    df_2010 = df_2010.withColumnRenamed(column, column.lower())
df_2010.printSchema()
df_2010.show(3)

root
 |-- vendor_id: string (nullable = true)
 |-- pickup_datetime: string (nullable = true)
 |-- dropoff_datetime: string (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- pickup_longitude: double (nullable = true)
 |-- pickup_latitude: double (nullable = true)
 |-- rate_code: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- dropoff_longitude: double (nullable = true)
 |-- dropoff_latitude: double (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- surcharge: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- total_amount: double (nullable = true)

+---------+-------------------+-------------------+---------------+-------------+------------------+---------------+---------+------------------+------------------+----------------+------------+-----------+---------+-------+----------+------------+------------+
|vendor_id|    pickup_datetime|   dropoff_datetime|passenger_count|trip_distance|  pickup_longitude|pickup_latitude|rate_code|store_and_fwd_flag| dropoff_longitude|dropoff_latitude|payment_type|fare_amount|surcharge|mta_tax|tip_amount|tolls_amount|total_amount|
+---------+-------------------+-------------------+---------------+-------------+------------------+---------------+---------+------------------+------------------+----------------+------------+-----------+---------+-------+----------+------------+------------+
|      VTS|2010-01-26 07:41:00|2010-01-26 07:45:00|              1|         0.75|        -73.956778|       40.76775|        1|              null|        -73.965957|       40.765232|         CAS|        4.5|      0.0|    0.5|       0.0|         0.0|         5.0|
|      DDS|2010-01-30 23:31:00|2010-01-30 23:46:12|              1|          5.9|-73.99611799999998|      40.763932|        1|              null|-73.98151199999998|       40.741193|         CAS|       15.3|      0.5|    0.5|       0.0|         0.0|        16.3|
|      DDS|2010-01-18 20:22:20|2010-01-18 20:38:12|              1|          4.0|        -73.979673|       40.78379|        1|              null|-73.91785199999998|        40.87856|         CAS|       11.7|      0.5|    0.5|       0.0|         0.0|        12.7|
+---------+-------------------+-------------------+---------------+-------------+------------------+---------------+---------+------------------+------------------+----------------+------------+-----------+---------+-------+----------+------------+------------+
only showing top 3 rows

In [18]:
df_2011 = spark.read.parquet("../2011/yellow_taxi/yellow_tripdata_2011-01.parquet").limit(1000)

for column in df_2011.columns:
    df_2011 = df_2011.withColumnRenamed(column, column.lower())
df_2011.printSchema()
df_2011.show(3)

root
 |-- vendorid: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- ratecodeid: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- pulocationid: long (nullable = true)
 |-- dolocationid: long (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|vendorid|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|ratecodeid|store_and_fwd_flag|pulocationid|dolocationid|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2| 2011-01-01 07:10:00|  2011-01-01 07:12:00|              4|          0.0|         1|              null|         145|         145|           1|        2.9|  0.5|    0.5|      0.28|         0.0|                  0.0|        4.18|                null|       null|
|       2| 2011-01-01 07:04:00|  2011-01-01 07:13:00|              4|          0.0|         1|              null|         264|         264|           1|        5.7|  0.5|    0.5|      0.24|         0.0|                  0.0|        6.94|                null|       null|
|       2| 2011-01-01 07:14:00|  2011-01-01 07:16:00|              4|          0.0|         1|              null|         264|         264|           1|        2.9|  0.5|    0.5|      1.11|         0.0|                  0.0|        5.01|                null|       null|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 3 rows

In [19]:
df_2012 = spark.read.parquet("../2012/yellow_taxi/yellow_tripdata_2012-01.parquet").limit(1000)

for column in df_2012.columns:
    df_2012 = df_2012.withColumnRenamed(column, column.lower())
df_2012.printSchema()
df_2012.show(3)

root
 |-- vendorid: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- ratecodeid: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- pulocationid: long (nullable = true)
 |-- dolocationid: long (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: integer (nullable = true)
 |-- airport_fee: integer (nullable = true)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|vendorid|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|ratecodeid|store_and_fwd_flag|pulocationid|dolocationid|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       1| 2012-01-01 07:07:56|  2012-01-01 07:12:09|              1|          0.9|         1|                 N|         158|         231|           2|        4.9|  0.5|    0.5|       0.0|         0.0|                  0.0|         5.9|                null|       null|
|       1| 2012-01-01 07:18:49|  2012-01-01 07:30:01|              1|          2.3|         1|                 N|         231|         164|           2|        8.5|  0.5|    0.5|       0.0|         0.0|                  0.0|         9.5|                null|       null|
|       1| 2012-01-01 07:31:38|  2012-01-01 07:46:05|              1|          2.2|         1|                 N|         164|         148|           2|        9.3|  0.5|    0.5|       0.0|         0.0|                  0.0|        10.3|                null|       null|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 3 rows

In [20]:
df_2013 = spark.read.parquet("../2013/yellow_taxi/yellow_tripdata_2013-01.parquet").limit(1000)

for column in df_2013.columns:
    df_2013 = df_2013.withColumnRenamed(column, column.lower())
df_2013.printSchema()
df_2013.show(3)

root
 |-- vendorid: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- ratecodeid: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- pulocationid: long (nullable = true)
 |-- dolocationid: long (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: integer (nullable = true)
 |-- airport_fee: integer (nullable = true)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|vendorid|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|ratecodeid|store_and_fwd_flag|pulocationid|dolocationid|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2| 2013-01-01 07:39:00|  2013-01-01 07:55:00|              3|         3.86|         1|              null|         238|         116|           2|       15.0|  0.5|    0.5|       0.0|         0.0|                  0.0|        16.0|                null|       null|
|       2| 2013-01-01 07:12:00|  2013-01-01 07:16:00|              5|          0.0|         1|              null|         264|         264|           1|        3.5|  0.5|    0.5|      0.12|         0.0|                  0.0|        4.62|                null|       null|
|       2| 2013-01-01 07:02:00|  2013-01-01 07:03:00|              3|          0.0|         1|              null|         264|         264|           1|        2.5|  0.5|    0.5|      0.25|         0.0|                  0.0|        3.75|                null|       null|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 3 rows

In [23]:
combined_df = df_2011.union(df_2012).union(df_2013)

# In Local
combined_df.write.format("parquet") \
    .mode("overwrite") \
    .save("./result/yellow_taxi")

# In HIVE
# combined_df.write.format("parquet") \
#     .mode("overwrite") \
#     .saveAsTable("yellow_taxi")

### Read Result combine ( Careful! High Task)

In [24]:
df_cobined = spark.read.parquet("./result/yellow_taxi")
df_cobined.count()

root
 |-- vendorid: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- ratecodeid: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- pulocationid: long (nullable = true)
 |-- dolocationid: long (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

3000